.gt-copyright,
.gt-comment-like,
.gt-initing-text {
  display: none;
}

.gt-container .gt-comments {
  margin-bottom: 1.25em;
}

.gt-counts .gt-link {
  border: 0 !important;
}

.gt-counts .gt-link:before {
  content: '共 ';
}

.gt-counts .gt-link:after {
  content: ' 条留言';
}

.gt-comment-admin .gt-comment-header:before {
  content: '管理员';
  padding: 2px 4px;
  color: #fff;
  background: #6190e8;
  border-radius: 2px;
  margin-right: 5px;
}
